body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
    margin-left: 15em;
    display: block;
}

input:invalid{
    background-color:pink
}
input:valid{
    background-color:white
}

table {
    border: 2px solid #42b983;
    border-radius: 3px;
    background-color: #fff;
}

th {
    background-color: #42b983;
    color: rgba(255,255,255,0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    background-color: #f9f9f9;
}

th, td {
    min-width: 120px;
    padding: 10px 20px;
}

th.active {
    color: #fff;
}

th.active .arrow {
    opacity: 1;
}

.bordureRouge{
    border:1px solid red;
}
#ModificationHide
{
    visibility: hidden;
}
#ModificationVisible
{
    visibility: visible;
    margin-top: 2em;
    margin-bottom: 2em;

}
#deleteButton{
    display: block;
    margin: auto;
}
#modifButton{
    display: block;
    margin: auto;
}